body {
	background-color: #ADD8E6;
}

 h1 {
	color: #FFFFFF;
	font-size: 60px;
	margin-top: 220px;
}
	
h2 {
	color: #1E90FF;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 5px;
}

h3 {
	color: #000000;
	font-size: 19px;
	margin-left: 300px;
}
